.gifs{
  float: left;
  margin-right: 40px;
}


button{
  margin-right: 15px;
  /*To make it look nice on mobile marin top too  */
  margin-top: 15px;


}

#addCar{
  margin-top: 15px;
}

body{
  background-color: #999999;
}

.jumbotron{
  background-color: #d9d7d7;
}
